html {
    scroll-behavior: smooth;
}


:root{
    --primaryColor: #2f323a;
    --secondaryColor: #c6cfe5;
    --thirdColor: #16181d;
}

body{
    min-height: 100vh;
    background: radial-gradient(
        circle,
        #464e54 0%,
        var(--primaryColor) 50%,
        #1f1d24 100%
    );
}
section{
   height: 950px;
}

/* Home Page Heading */
h1{
    color: var(--secondaryColor);
    text-align: center;
    font-size: 50px;
}

#HomeDiv{
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: minmax(0, 1fr);

}
#HomeImage{
    text-align: center;
}
#HomeImageCrop{
    width: 250px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

#HomeIcons{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}
.Icons {
   
    margin: 12px;
    
}

.Icons img {
    display: block;
    height: 30px;
    width: auto;
}
a.Icons:hover{

    transform: scale(1.3);

}

#HomeSum{
    max-width: 70%;
    margin: 0 auto;
    
}
#HomeSumText{
    color: var(--secondaryColor);
    text-align: center;
    text-wrap: wrap;
    font-size: 200%;
    
}
#HomeNav{
    width:80%;
    height:100px;
    display:flex;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 20px;
}
.NavBox {
    width: 15%;
    height: 75%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--secondaryColor);
    margin: 0 auto;
    text-align: center;
    display: flex;
    border-radius: 30px;
}
.NavBox:hover{
    transform:scale(1.2);
}
.NavBoxText{
    color: var(--secondaryColor);
    font-size: 200%;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.HorizontalLine{

    border:none;
    border-top:2px solid var(--secondaryColor);
    width:80%;
    margin: 0 auto;
  
}

