/* General Styles */
html {
    font-size: 13px; /* Base font size */
}
mark {
    background-color: rgba(0, 0, 0, 0) !important;
    color:#53b4c1 !important;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    background-color: #d5d5d5;
    text-align: center;
    color: #333;

}

body section .videoCaption{
    margin-left:55px;
    margin-right:150px;
    margin-top:45px;
    margin-bottom:35px;
    width: 1400px;
    gap: 100px;
    display: flex;
}

body section .picCaption{
    margin-left:150px;
    margin-right:150px;
    margin-top:15px;
    width: 1200px;
    gap: 150px;
    display: flex;
}
body section .projectPicCaption{
    margin-left:190px;
    margin-right:100px;
    margin-top:15px;
    width: 1300px;
    gap: 150px;
    text-align: left;
    display: flex;
}

section h5{
    margin-top:10px;
    margin-bottom: 55px; /* Space below the header */
    height:10px;
    font-size: 2.5rem;
    color: #2d4f55;
    text-align: left;
}
section h3{

    margin-top:5px;
    margin-bottom: 65px; /* Space below the header */
    height:5px;
    font-size: 3.5rem;
    color: #2d4f55;
    text-align: left;
}

body section p{
    
    margin: 50;
    width: 600px;
    font-size: 2.5rem;
    color: #000000;
    text-align: left;
}

body section .about{


    font-size:1.5rem;

}

header {
    background: #3c6f76;
    color: #fff;
    padding: 0.5vh;
    text-align: center;
}

header h1 {
    margin: 0vw;
    font-size: 2rem;
}

header p {
    margin: 0vw;
    font-size: 1rem;
}


h6{
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    margin-top:25px;
    margin-bottom:5px;
    font-size:3rem;
    
    
}

nav {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 0.3vw 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin:0.5vw;
    font-size: 1.3rem;
}

nav a:hover {
    color: #53b4c1;
}

section {
    padding: 3vh;
}



.project h3 {
    margin-top: 0;
    color: #333;
}

.projectNav{
    background: #444;
    margin-bottom:0px;
    margin-top:0px;
    font-weight: bold;
    height:35px;
}
/* Contact Links */
section a {
  
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

li{
    right: 0; /* Starts from the right */
    margin-left:200px;
    margin-right:155px;
    text-align: left;
    font-size:1.5rem;
    margin-bottom:35px;

}
.list{
    margin-top:55px;
    display:flex;
    gap:20px;

}

h2{
    margin-top:0px;
    font-size:2.0rem;
    margin-left:176px;
    text-align: left;
    color: #2d4f55;
}

h4{

    text-align:left;
    color:#2d4f55;

}

 .contact{
    
    
    margin-left: 600px;
    margin-top: 35px;
    margin-right: 5rem;;
    font-size:2.5rem;
    text-decoration: none;
    
}

.contactLinks{

    color: #2d4f55;
    font-size:2.1rem;
}

section a {
    margin-top: 0rem;

    font-size:1.8rem;
    color: #ffffff;
    text-decoration: none;
}
