/* General Styles */

@font-face {
    font-family: 'Valty';
    src: url('valty-demo.bold-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%; /* Base font size */
}
mark {
    background-color: rgba(0, 0, 0, 0) !important;
    color:#53b4c1 !important;
}

* {
    font-family: "Valty", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    


}
body{
    background-color: #282828;
    color:rgb(195, 195, 195);
}

footer {
    background: #000000;
    color: #fff;
    padding: 0.5%;
    padding-top: 0.75%;
    text-align: center;
}

header {
    background: #000000;
    color: #fff;
    padding: 0.5%;
    text-align: center;
}

header h1 {

    font-size: 400%;
}

header p {

    font-size: 200%;
}


nav {
    background: #383838;
    color: #fff;
    text-align: center;
    padding: 0.25%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin:0.35%;
    font-size: 175%;
}

nav a:hover {
    color: #53b4c1;
}

#circle {
    border-radius: 50%;
}

h3 {
    margin-top: 1.5%;
    font-size: 300%;
    text-align: center;
}

.image-container {
    max-width: 100%;
    width: 20%;
    height: 20%;
    overflow: hidden;
    margin-left: 41%;
    margin-bottom: 5%;
  }
  
  #about{
    text-wrap: wrap;
    width: 40%;
    margin-top: 1%;
    margin-left: 32%;
    margin-bottom: 1.5%;
    font-size: 250%;
  }

  footer img{
    width:2.5%;
    height:2.5%;
    margin-right:2%;
    margin-left:2%;
  }

footer img#github{


    width:5.5%;
    height:2.5%;

}

.shrink{
    transition: 1s ease;
}
    
.shrink:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}