/* General Styles */

@font-face {
    font-family: 'Valty';
    src: url('valty-demo.bold-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%; 
}
mark {
    background-color: rgba(0, 0, 0, 0) !important;
    color:#42919b !important;
}

* {
   
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    


}
body{
     font-family: "Valty", serif;
    background-color: #2e2e2e;
    color:rgb(195, 195, 195);
}

footer {
    background: #000000;
    color: #fff;
    padding: 0.5%;
    padding-top: 0.75%;
    text-align: center;
}

header {
    background: #000000;
    color: #fff;
    padding: 0.5%;
    text-align: center;
}

header h1 {

    font-size: 400%;
}

header p {

    font-size: 200%;
}

nav {
    background: #323232;
    color: #fff;
    text-align: center;
    padding: 0.25%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin:0.35%;
    font-size: 175%;
}

p a {
    color: #fff;
    text-decoration: none;
    margin:0.35%;
    font-size: 175%;
}
a:hover {
    color: #4ca8b4;
}

nav a:hover {
    color: #4ca8b4;
}

#circle {
    border-radius: 50%;
}

h3 {
    margin-top: 1.5%;
    font-size: 300%;
    text-align: center;
    color:#42919b;
}

h6 {
    text-align: center;
    font-size: 500%;
    margin-top: 1.5%;
    color:#ffffff;
}

.image-container {
    max-width: 100%;
    width: 20%;
    height: 20%;
    overflow: hidden;
    margin-left: 41%;
    margin-bottom: 5%;
  }
 #projectImage {
    max-width: 100%;
    width: 30%;
    height: 30%;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 1%;
  }
  .video-container {
    width: 50%;  /* Set the container width as a percentage of the viewport */
    height: 60vh; /* Set the height relative to the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Just to visualize the container */
    margin-left: 25%;
    margin-bottom: 1.5%;
    margin-top: 1%;
}

.video-container iframe{
    width: 100%; /* 100% of the container width */
    height: 100%; /* 100% of the container height */
    object-fit: cover; /* Ensures the video fills the given space */
}
  
  #about{
    text-wrap: wrap;
    width: 40%;
    margin-top: 1%;
    margin-left: 31%;
    margin-bottom: 1.5%;
    font-size: 250%;
  }

  footer img{
    width:2.5%;
    height:2.5%;
    margin-right:2%;
    margin-left:2%;
  }

footer img#github{


    width:5.5%;
    height:2.5%;

}

.shrink{
    transition: 1s ease;
}
    
.shrink:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.button-container {
    background-color: #000000;
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif !important;
    margin:1%;
    max-width: 25%;
    min-width: 20%;
    overflow:hidden;
    position:relative;
    text-align:center;
    width:100%;
}

.button-container *{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    -webkit-transition:all 0.35s ease;
    transition: all 0.35s ease;
    

}

.button-container h3{
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 275%;
    font-weight: 600;
    letter-spacing: 255%;
    margin:0;
    padding: 2% 4%;
    text-transform: uppercase;
}




.button-container::before,
.button-container::after{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    -webkit-transition:all 0.35s ease;
    transition:all 0.35s ease;
    background-color: #000000;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;
}

.button-container::before{
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}
.button-container::after{
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.button-container img {

    backface-visibility: hidden;
    max-width:100%;
    vertical-align: top;
}

.button-container figcaption{
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity:0;
    -webkit-box-shadow: 0 0 5% #000000;
    box-shadow: 0 0 5% #000000;
}

.button-container a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.button-container:hover img {
    background-color: #6d6c6c;
    opacity: 0.5;
}

#projectDiv{
    margin-top:1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    gap:2%;
}



h2{
    text-align: left;
    margin-top: 1.5%;
    font-size: 275%;
    color:#42919b;
    width:20%;
    margin-left: 31%;
}


#skillsAbout{
    text-wrap: wrap;
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1.5%;
    font-size: 250%;
    margin-left: 31%;
  }

.projectImageContainer{

    max-width: 100%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    margin-left: 26%;
    margin-bottom: 11%;
    margin-top: 3%;

}

.button-container:hover::before,
.button-container.hover::before{
    transform: skew(45deg) translateX(-54%);
    -webkit-transform:skew(45deg) translateX(-54%);
}

.button-container:hover::after,
.button-container.hover::after{
    transform: skew(45deg) translateX(54%);
    -webkit-transform:skew(45deg) translateX(54%);
}

.button-container:hover figcaption,
.button-container.hover figcaption{
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}