/* General Styles */
html {
    font-size: 16px; /* Base font size */
}
mark {
    background-color: rgba(0, 0, 0, 0) !important;
    color:#53b4c1 !important;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    background-color: #77bc00;
    text-align: center;
    color: #333;

}

body section .videoCaption{
    margin-left:100px;
    margin-right:350px;
    margin-top:85px;
    margin-bottom:75px;
    width: 2000px;
    gap: 100px;
    display: flex;
}

body section .picCaption{
    margin-left:250px;
    margin-right:250px;
    margin-top:25px;
    width: 2000px;
    gap: 320px;
    display: flex;
}
body section .projectPicCaption{
    margin-left:300px;
    margin-right:250px;
    margin-top:25px;
    width: 1800px;
    gap: 175px;
    text-align: left;
    display: flex;
}

section h5{
    margin-top:0px;
    margin-bottom: 75px; /* Space below the header */
    height:10px;
    font-size: 3.5rem;
    color: #2d4f55;
    text-align: left;
}
section h3{

    margin-top:25px;
    margin-bottom: 105px; /* Space below the header */
    height:10px;
    font-size: 3.5rem;
    color: #2d4f55;
    text-align: left;
}

body section p{
    
    margin: 110;
    width: 700px;
    font-size: 2.5rem;
    color: #000000;
    text-align: left;
}

body section .about{


    font-size:1.5rem;

}

header {
    background: #550000;
    color: #fff;
    padding: 1.2vh;
    text-align: center;
}

header h1 {
    margin: 0vw;
    font-size: 2.5rem;
}

header p {
    margin: 0vw;
    font-size: 1.2rem;
}


h6{
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    margin-top:25px;
    margin-bottom:5px;
    font-size:3rem;
    
    
}

nav {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 0.3vw 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin:0.5vw;
    font-size: 1.3rem;
}

nav a:hover {
    color: #53b4c1;
}

section {
    padding: 3vh;
}



.project h3 {
    margin-top: 0;
    color: #333;
}

.projectNav{
    background: #444;
    margin-bottom:0px;
    margin-top:0px;
    font-weight: bold;
    height:35px;
}
/* Contact Links */
section a {
  
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

li{
    right: 0; /* Starts from the right */
    margin-left:250px;
    margin-right:75px;
    text-align: left;
    font-size:1.8rem;
    margin-bottom:55px;

}
.list{
    margin-top:55px;
    display:flex;
    gap:20px;

}

h2{
    margin-top:0px;
    font-size:3.0rem;
    margin-left:250px;
    text-align: left;
    color: #552d2d;
}

h4{

    text-align:left;
    color:#2d4f55;

}

 .contact{
    
    
    margin-left: 900px;
    margin-top: 55px;
    margin-right: 5rem;;
    font-size:2.5rem;
    text-decoration: none;
    
}

.contactLinks{

    color: #834141;
    font-size:2.1rem;
}

section a {
    margin-top: 1rem;
    margin-right: 5rem;;
    font-size:2.5rem;
    color: #ffffff;
    text-decoration: none;
}